@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: rgb(225, 225, 255);
}

#container {
    background-color: rgb(225, 225, 255);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#head {
    background-color: rgb(30, 30, 35);
    width: 100%;
    height: 10vh;
    border: 0;
    border-bottom: 3px solid rgb(70, 70, 90);
    position: fixed;
    z-index: 9999;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0ed;
    text-decoration: none;
    background-color: rgb(30, 30, 35);
}

#head button {
    padding: 9px 25px;
    background-color: rgb(30, 120, 170);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 2.5vw;
    box-shadow: 0 0 8px rgba(100, 150, 255, 0.5);
}

#head button:hover {
    background-color: rgb(20, 100, 140);
}

#head img {
    width: 7vh;
    height: 7vh;
}

#content {
    padding: 2vw 2vh;
    margin-top: 10vh;
    text-align: center;
    height: 80vh;
    background-color: rgb(235, 235, 255);
    overflow-y: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 70vw;
    max-height: 60vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#tagsContainer button {
    background-color: rgb(0, 100, 170); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#tagsContainer button:hover {
    background-color: rgb(0, 80, 140); 
}

#tagsContainer button:active {
    background-color: rgb(0, 60, 120);
}

.popup-content {
    text-align: center;
}

.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-content input {
    height: 30px;
    margin: 1vw;
}

.popup-content button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(20, 110, 170);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-width: 2px;
    margin: 4px;
}

.popup-content button:hover {
    background-color: rgb(10, 80, 140);
}

.popup-content button:active {
    background-color: rgb(0, 60, 120);
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#browse {
    display: flex;
    flex-wrap: wrap;
}

.post-box {
    min-height: 8vw;
    max-height: 20vw;
    height: auto;
    border-radius: 8px;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    margin: 1vw;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
    text-wrap: wrap;
    position: relative;
    box-shadow: 5px 5px 10px rgba(60, 80, 100, 0.5);
    padding-bottom: 1vw;
}

.post-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(50, 100, 200);
}

.popup-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(50, 100, 200);
}

.popup-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(0, 40, 80);
}

.post-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(0, 40, 80);
}

#title {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#titleText {
    margin-left: 0.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: white;
}

textarea {
    resize: none;
}

#postButton {
    position: absolute;
    left: 94vw;
    top: 88vh;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    font-size: 1vw;
    background-color: rgb(30, 120, 170);
    color: white;
    border: solid;
    border-color: rgb(0, 60, 80);
    cursor: pointer;
    transition: background-color 0.2s
}

#postButton:hover {
    background-color: rgb(20, 100, 140);
}

#postButton:active {
    background-color: rgb(10, 80, 120);
}

#nav button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0ed;
    text-decoration: none;
    background-color: rgb(50, 50, 60);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
#head img {
    height: 7vh;
    width: calc(15vw);
    position: absolute;
}


#nav button:hover {
    color: rgb(100, 200, 255);
    background-color: rgba(40, 40, 45);
}

#nav button:active {
    color: rgb(60, 150, 180);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}
